name: Run whatbot

on:
  schedule:
  - cron: "0 15 * * *"
  workflow_dispatch: {}

jobs:
  run:
    runs-on: ubuntu-latest
    environment: actions
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - uses: bahmutov/npm-install@v1
    - run: node whatbot.js
      env:
        DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
        GUILD_ID: ${{ secrets.GUILD_ID }}
